<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-FCYEWRT8DD"></script>
  <script>
  window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'G-FCYEWRT8DD');
  </script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {%capture description%}{%if page.title == site.title%}{{site.tagline}}{%else%}{{page.title}}{%endif%}{%endcapture%}
  {%capture title%}{%if page.title == "Лескова 29"%}{{site.title}}{%else%}{{site.title}} &middot; {{page.title}}{%endif%}{%endcapture%}

  <!-- Primary Meta Tags -->
  <title>{{ title }}</title>
  <meta name="title" content="{{ site.title }}">
  <meta name="description" content="{{ description }}">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:image" content="/assets/favicon.ico">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary">
  <meta property="twitter:title" content="{{ site.title }}">
  <meta property="twitter:description" content="{{ description }}">
  <meta property="twitter:image" content="/assets/favicon.ico">

  <link rel="stylesheet" href="{{ 'styles.css' | relative_url }}">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ '/assets/apple-touch-icon-precomposed.png' | relative_url }}">
  <link rel="shortcut icon" href="{{ '/assets/favicon.ico' | relative_url }}">
</head>
